.modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modale-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(22, 68, 52, 0.5);
    padding: 20px;
    width: 80%;
    max-width: 500px;

    .modale__button {
      height: 50px;
    }
  }
}

@media (max-width: 425px) {
  .modale {
    .modale-content {
      flex-direction: column;
      padding: 10px;
    }
  }
}