.table-container {
  max-width: 1440px;
  padding: 20px;
  margin: auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;

  .search-pagination-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    height: 35px;

    .page-size-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      height: 100%;
    }

    .search-pagination {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 100%;
      position: relative;
      .search-input {
        padding-right: 2rem;
      }

      .reset-icon {
        position: absolute;
        right: 0.5rem;
        cursor: pointer;
        color: #999;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.sort-icon {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(22, 68, 52, 0.1);
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.pagination__button {
  padding: 5px 10px;
  font-size: 1rem;
  width: 100px;
}

.pagination__button:disabled {
  background: #ccc;
  cursor: not-allowed;
  transform: none;
}

//
.pagination__button:hover:disabled {
  transform: none;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.no-data {
  text-align: center;
  color: #999;
}

.employee_tr {
  cursor: pointer;

}

.employee-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;

}

@media (max-width: 920px) {
  .table-container {
    padding: 10px;
    overflow-x: auto;
  }

  th, td {
    padding: 5px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination__button {
    margin: 5px;
  }
}